<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/default.ejs %>
	<% include partials/articles_styles.ejs %>
	<% include partials/articles_scripts.ejs %>
</head>
<body>
	
<% include partials/page/header.ejs %>
<% include partials/page/main_articles.ejs %>

</nav>
</body>
</html>