<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <% include partials/page/head.ejs %> -->
	<% include partials/default.ejs %>
	<% include partials/company_styles.ejs %>
</head>
<body>
	
<% include partials/page/header.ejs %>
<% include partials/page/main_company_content.ejs %>

</nav>
</body>
</html>