#main_population{
	
}
#wid_limit{
	width:798px;
}
.news_description{
	margin-top:5px;
}
.news_link{
	margin-top:5px;
}
.news_sentiment{
	margin-top:5px;
}
.news_sentiment_area{
	margin-top: 5px;
}
#secondary_menu_area{
	margin-top: 20px;
}
#rel_area{
	margin-top:20px;
}
.app_name{
	
}
