.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
	position:relative;
}
.custom-main-panel{
	margin-top:40px;
}
.custom-panel{
	margin-bottom:20px;
}
.panel-body{
	padding:5px;
}
.custom-inbox{
	margin-left:0px;
}
.sub-badge{
	position:relative;
	top:-2px;
}
.safe-distance{
	margin-left:0px;
}
.panel-content{

margin-top:10px;
margin-bottom:10px;
}
.discussions{
display:inline-block;
}
.panel-elements-first{
display:inline-block;
margin-left:7px;
}
.panel-elements-styling{
margin-left:10px;
}
.panel-elements-styling-more{
margin-left:24px;
}
.discussions-number{
text-align:center;
}
.views{
display:inline-block;
}
.views-number{
text-align:center;
}
.votes{
display:inline-block;
}
.votes-number{
text-align:center;
}
.tags{
display:inline-block;
position:relative;
top:-9px;
}
.tag-link{
color:black;
background-color:#e4edf4;
padding:4px;
margin-left:8px;
margin-bottom:0px;
}
.tag-link:hover{
text-decoration:none;
color:black;
background-color:#c0d4db;
}
.thread-create{
display:inline-block;
float:right;
margin-right:16px;
}
.date-create{
color:#999;
}
.user-created{
display:inline-block;
float:right;
}
.upcoming-events{
width:257px;
background-color:#fff8dc;
border:1px solid #e0dcbf;
float:right;
}
.events-list{
margin-top:30px;
margin-bottom:30px;
}
.events-title{
position:relative;
top:11px;
height:26px;
border-bottom:1px solid;
border-bottom-color:grey;
color:grey;
}
.event{
	margin-top:17px;
}
.recommended-content{
	margin-top:40px;
}
.added-tag{
height:28px;
margin-bottom:30px;
}
.add-tag-summary{
	display:block;
	background-color:#fff8dc;
	border:1px solid #e0dcbf;
	padding:12px;
}
.add-tag-summary:hover{
	background-color:#E6DFC6;
}
.add-tag-detail{
	border-right:1px dashed #e0dcbf;
	border-left:1px dashed #e0dcbf;
	border-bottom:1px dashed #e0dcbf;
	padding:28px;
}
.tag-list{
margin-bottom:22px;
}
.at-title{
	display:inline-block;
}
.tag-remove{
	margin-left:6px;	
}
.add-tag-form{

}
.tag-element{
margin-bottom:0px;
}
.recommended-listed{
margin-top:21px;
color:#999;
}
.recommended-listed-title{
font-size:19px;
padding:8px;
border-bottom:1px solid #999;
}
.recommended-content-list{
margin-top:20px;
}
textarea{
resize:none;
}
.thread-area{
position:relative;
top:35px;
}
.thread-title{
padding:15px;
margin-bottom:20px;
border-bottom:1px solid #EDEDED;
}
.thread-title-more{
font-size:23px;
}
.thread-description{
padding:15px;
margin-bottom:7px;
border-bottom:1px solid #EDEDED;
}
.thread-description-more{
font-size:17px;
}
.thread-images{
padding:15px;
margin-bottom:7px;
border-bottom:1px solid #EDEDED;
}
.thread-img-title{
font-size:17px;
margin-bottom:7px;
}
.thread-tag-section{
padding:15px;
}
.tag-title-more{
font-size:17px;
}
.like-rating{
display:inline-block;
}
.dislike-rating{
display:inline-block;
}
.thread-comments-section{
margin-top:39px;
}
.comment-button{
float:right;
margin-top:9px;
}
.secondary-area{
position:relative;
top:48px;
}
.more-details{
padding:27px;
border:1px solid #999;
text-align:center;
}
.sarea{
margin-bottom:13px;
}
.sarea-title{
color:#999;
}
.thread-comment-posted{
margin-top:50px;
}
.user-comment{
margin-bottom:20px;
}
.comment-masthead{
color:#999;
}
.user-profile-pic,.user-name-link,.detail,.comment-date{
margin-left:5px;
}
.comment-content{
margin-top:5px;
}
.add-discussion{
position:relative;
top:-2px;
left:-13px;
}
.sbp{
position:relative;
top:4px;
}
#comment{
height:290px;
}
.aux{
display:inline-block;
}
.aux:hover{
cursor:pointer;cursor:hand;
}
.sc{
margin-bottom:30px;
}
.add-image-title{
display:inline-block;
}
.add-image{
display:inline-block;
margin-left:20px;
}
.added-images{
margin-top:16px;
}
.fileinput-button{	
	position: absolute;
	top:0px;
	right:0px;
	margin:0px;
	opacity:0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}
input[type=file]{
display:block;
}
.stt{
margin-left:5px;
}
.new-thread-tags-title{
margin-bottom:20px;
}